/* This is temporary. Edit after you put in the contents. */
.CoverFormerLetters {
	background-image: linear-gradient(to bottom right, #DFEDF2, #5CACD0, #59A8D9);
}

.NewText {
	background-image: linear-gradient(#F2E6D8, #D9C6B0, #D9AE5F);
}

.OtherTexts {
	background-image: linear-gradient(#F2D5CE, #F2AFA0, #F25C5C);
}

.WorksCited {
	background-image: linear-gradient(#E8F2EA, #C5D9C7, #5D9D61);
}

/* Cover + Formal Letters */
h1 {
	color: rebeccapurple;
	margin-left: 20px;
	font-family: 'Kaushan Script', cursive;
	margin-top: 2%;
}

h2 {
	margin-left: 20px;
	margin-right: 40px;
	text-align: justify;
	font-family: 'Kalam', cursive;
	font-size: 1.1em;
}

/* New & Other Texts + Works Cited */
.h1Exception {
	color: rebeccapurple;
	margin-left: 20px;
	font-family: 'Croissant One', cursive;
	margin-top: 2%;
	text-align: center;
}

.h2Exception {
	text-align: center;
}

/* Videos for New & Old Texts */
.NTiframe iframe {
	display: block;
	margin: 1em auto;
	width: 55%;
	height: calc(0.58272209 * 55vw);
}

.OTiframes iframe {
	display: block;
	margin: 1em auto;
	width: 51%;
	height: calc(0.5625 * 51vw);
}

/* Start of Button Responsiveness */
.CLbutton {
	background: #FEB7D7;
	border-radius: 50px;
	margin: 0 auto;
	width: 13%;
	min-width: 160px;
	text-align: center;
	font-size: 1em;
}

.NTbutton {
	background-color: #FEB7D7;
	border-radius: 50px;
	margin: 0 auto;
	width: 10%;
	min-width: 400px;
	text-align: center;
	font-size: 1em;
}

.OTbutton {
	margin: 0 auto;
	width: 10%;
	min-width: 368px;
	text-align: center;
	font-size: 1em;
}

.WCbutton {
	margin: 0 auto;
	width: 10%;
	min-width: 500px;
	text-align: center;
	font-size: 1em;
}

nav {
	font-family: 'Playfair Display', serif;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

nav ul {
	padding-inline-start: 0px;
	margin: 0 auto;
	background-color: #FEB7D7;
	border-radius: 50px;
	list-style-position: inside;

}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	padding: 10px;
}

nav a:hover {
	color: rebeccapurple;
	background: rgba(233, 251, 253, 0.75);
}
/* End of Button Responsiveness */

a {
	color: black;
	text-decoration: none;
}

/* Works Cited Table*/
td {
	font-family: 'Cambria', serif;
}

/* Paragraphs for Other Texts */
p {
	font-size: 2.5vw;
	font-size: 2.5vh;
	margin: 17.840px;
}